.video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    inset: 0;

}
*,*::before,*::after{
    margin:0;
    border: none;
    outline:none;
    padding:0;
}
.container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrap{
    display: flex;
    align-items: center;
    flex-direction:column;	
    justify-content: space-between;
    padding: 60px 70px;
    background: #222;
    border-radius: 12px;
    border: 2px solid #4d4cff;
}
    input{
        margin: 8px 0;
        }

        .btn{
            margin-top: 30px;
            padding: 6px 13px;
            border-radius: 5px;
            filter: hue-rotate(0deg);
            transition: all 650ms;
            font-size: 16px;
            cursor: pointer;
        }
        .btn:hover {
            background-color: darkviolet
           }
        input, .btn {
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            
            input {
                border: 1px solid purple;
                border-radius: 10px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -khtml-border-radius: 3px;
                background: lightgray;
                outline: none;
                height: 20px;
                width: 300px;
                padding: 5px 10px;
                color: darkblue;
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin: 12px 0;
                transition: all 350ms;
            }

            input:focus {
                background: violet;
            }
            
                     